body {
  background: #222;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: hotpink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

.submit {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-size: 0.9rem;
  background: #888;
  padding: 1rem;
  color: white;
  cursor: pointer;
}

footer {
  margin-top: auto;
  margin-left: 10px;
}

textarea, input, .timeline, img, .submit{
  border-radius: 5px;
}
ul {
  list-style-type: none;
}

.like-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.like-button.liked {
  background-color: #2ecc71;
}

.like-button.liked:before {
  content: "\f164"; /* Unicode for thumbs-up icon */
  font-family: 'Font Awesome 5 Free';
  margin-right: 5px;
}


