<%- include("partials/header.ejs") %>


    <h1>
    </h1>
      <h1>Welcome to the Right @Path Timeline 🤟</h1>
      <div>
        <%- include("partials/form.ejs", { newAuthor: newAuthor }) %>
        <%- include("partials/timeLine.ejs", { posts: posts }) %>
      </div>
<%- include("partials/footer.ejs") %>